<!DOCTYPE html>
<html>
<head>
  <title>Bench bnb</title>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCanA1F_prfI5I7GpIi6M4jZPAPy2IqzaE" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
